{% extends 'base.html' %}
{% block title %}Edit article{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="border: 1px solid gray; margin-top: 20px">
                    <div class="col-md-12" style="padding: 20px">
                        {{ article[3] }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form id="form-container" method="post" action="{{ url_for('editArticle', title_id=article[0], article_title=article[2]) }}">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h3 id="formtitle">Title</h3>
                                    <input type="text" name="title" class="form-control" placeholder="Title">
                                    <h3 id="formtitle">Body</h3>
                                    <textarea class="tinymce" id="textEditor" name="text_editor"></textarea>
                                    <label><h4><a href="{{ url_for('home') }}" style="text-decoration: none">Cancel</a>
                                    </h4></label>
                                    <input type="submit" class="btn btn-success pull-right article_btn"
                                           id="article_btn_upload"
                                           value="Upload">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}